.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 560px;

    background: var(--purple-light);
}

.header__content_info {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.header__content_info span {
    max-width: 450px;
    
    padding-top: 137px;
    padding-left: 101px;

    font-family: 'Merriweather-Regular', sans-serif;
    font-size: 36px;
    line-height: 47px;

    color: var(--gray-dark);
}

.header__content_info p {
    max-width: 450px;

    padding-top: 17.5px;
    padding-left: 100px;

    font-family: 'Lato-Regular';
    font-size: 19px;
    line-height: 32px;

    color: var(--gray);
}

.header__content_info button {
    position: relative;
    top: 45px;
    left: 101px;

    width: 155px;
    height: 50px;

    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);

    background: #6C63FF;
    
    font-family: 'Lato-Bold', sans-serif;
    font-size: 18px;
    line-height: 24px;

    color: var(--white);
}

.header__content_image {
    display: flex;
    justify-content: flex-end;

    height: 100%;
}

.header__content_image svg {
    position: relative;
    top: 77px;
    right: 104px;

    width: 500px;
    height: 359.75px;
}

@media (max-width: 1024px) {
    .header__content_info span {
        max-width: 410px;

        padding-left: 71px;

        font-size: 32px;
        line-height: 43px;
    }

    .header__content_info p {
        max-width: 430px;

        padding-left: 70px;

        font-size: 18px;
        line-height: 30px;
    }

    .header__content_info button {
        left: 71px;
    
        width: 130px;
        height: 40px;
                
        font-size: 16px;
        line-height: 24px;
    }

    .header__content_image svg {
        top: 100px;
        right: 50px;
    
        width: 450px;
        height: 309.75px;
    }
}

@media (max-width: 768px) {
    .header__content_info span {
        max-width: 330px;

        padding-left: 41px;
    }

    .header__content_info p {
        max-width: 330px;

        padding-left: 40px;
    }

    .header__content_info button {
        top: 25px;
        left: 41px;
    
        width: 100px;
        height: 40px;
                
        font-size: 14px;
        line-height: 24px;
    }

    .header__content_image svg {
        top: 50px;
        right: 40px;
    
        width: 380px;
        height: 459.75px;
    }
}

@media (max-width: 425px) {
    .header__content {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    
        height: 800px;
    }

    .header__content_info {
        display: flex;
        flex-direction: column;
    
        width: 100vw;
        height: 100%;
    }

    .header__content_info span {
        max-width: 374px;
        
        padding-top: 55px;
        padding-left: 20px;
    
        font-size: 32px;
        line-height: 47px;
    }

    .header__content_info p {
        max-width: 374px;
    
        padding-top: 18px;
        padding-left: 20px;
    
        font-size: 18px;
        line-height: 32px;
    }

    .header__content_info button {
        top: 32px;
        left: 20px;
    
        font-size: 20px;
        line-height: 24px;
    }
    
    .header__content_image svg {
        top: 30px;
        right: 28px;
    
        width: 380px;
        height: 300px;
    }
}

@media (max-width: 375px) {
    .header__content_info span {
        max-width: 350px;
    
        font-size: 30px;
        line-height: 45px;
    }

    .header__content_info p {
        max-width: 349px;
    
        font-size: 17px;
        line-height: 30px;
    }

    .header__content_info button {
    
        font-size: 18px;
        line-height: 24px;
    }
    
    .header__content_image svg {
        top: 30px;
        right: 15px;
    
        width: 350px;
        height: 300px;
    }
}

@media (max-width: 320px) {
    .header__content_info span {
        max-width: 310px;
    
        font-size: 30px;
        line-height: 45px;
    }

    .header__content_info p {
        max-width: 309px;
    
        font-size: 17px;
        line-height: 30px;
    }

    .header__content_info button {
    
        font-size: 18px;
        line-height: 24px;
    }
    
    .header__content_image svg {
        top: 30px;
        right: 10px;
    
        width: 300px;
        height: 300px;
    }
}